<!DOCTYPE html>
<html>
  <body>
    <h1 data-testid='game_status'>
      Game Status: <%= session[:game_status] %>
    </h1>

    <h1 data-testid='turn_counter'>
      Turn Count: <%= session[:tictactoe_jules].turn_count %>
    </h1>

    <h1 data-testid='players'>
      <%= session['tictactoe_jules'].player_x.id %> vs <%= session['tictactoe_jules'].player_o.id %>
    </h1>

    <h2 data-testid='board_size'>
      Board Size: <%= session[:tictactoe_jules].board.board_size %>
    </h2>

    <div data-testid='board_display'>
      <% for row in session[:tictactoe_jules].board.get_board_values do %>
        <h3>
        <% for digit in row do %>
          <%= digit %>
        <% end %>
        </h3>
      <% end %>
    </div>

    <% if !session[:tictactoe_jules].winner %>
      <form action='/game_start/player_move' method='POST'>
        <label data-testid='whose_move'>
          <%= session[:tictactoe_jules].current_player.id %>'s Move
        </label>
        <input type='number' min=1 max=<%= session[:max_turns] %> name='player_move' value='' data-testid='enter_move' required />
        <br/>
        <input type='submit' data-testid='submit_move' value='Submit' />
      </form>
    <% else %>
      <form action='/' method='GET'>
        <label>
          New Game
        </label>
        <input type='submit' data-testid='new_game' value='Submit' />
      </form>
    <% end %>
  </body>
</html>
